.Header {
  padding: 25px 0;
  background-color: #6c8ad5;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;

  &__nav {
    text-decoration: none;
    color: azure;
    transition: text-shadow  border-bottom 0.5s ease;

    &:hover {
      transition: text-shadow 0.5s ease;
      text-shadow: rgba(74, 121, 190, 0.28) 0 19px 38px,
        rgba(0, 0, 0, 0.22) 0 15px 12px;
      border-bottom: 2px solid azure;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__container {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  &__footer {
    text-align: center;
    padding: 30px 0;
    background-color: #6c8ad5;
    font-size: 12px;
    letter-spacing: 0.3px;
  }
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.active {
  color: #bf9030;
  border: 2px solid azure;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}
