.tabs {
  margin: 15px auto;
  width: 640px;

  &__menu {
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__item {
    position: relative;
    padding: 15px 25px;
    margin-left: 15px;
    top: 0;
    width: 150px;
    float: left;
    color: inherit;
    text-decoration: none;
    letter-spacing: 1px;

    background-color: #181a1e;
    border: 1px #ffffff26 solid;
    box-shadow: 0 3px 10px #ffffff1a;

    transition: box-shadow 0.5s ease 0s, top 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      box-shadow: 0 6px 15px #ffffff80;
      top: -3px;
      border: 1px #ffffff4d solid;
      color: #fffc;
      cursor: pointer;
    }

    &--active {
      box-shadow: 0 6px 15px #ff1e1e80;
      border: 1px #ff1e1e66 solid;
      top: -3px;
      color: #ff3232;

      &:hover {
        border-bottom: 5px #ff2121 solid;
        box-shadow: 0 6px 15px #ff1e1e80;
        border: 1px #ff1e1e66 solid;
        top: -3px;
        color: #ff3232;
      }
    }
  }
}
