.tabs {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
  }

  &__item {
    position: relative;
    list-style: none;
  }

  &__link {
    display: block;
    padding: 6px 12px;
    color: #0c7b93;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
    transform: translateY(1px);
    transition: color 0.3s, border-color 0.3s;
    outline: none;
    cursor: pointer;
  }

  &__link--active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #fff;
    font-weight: bold;
  }
}
