.tabs {
  &__list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    max-width: 200px;

    &-item {
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
