.notFoundPage {
  background-image: url("../../media/404_error.gif");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.title {
  text-align: center;
}
