.nav {
  display: flex;
  justify-content: space-around;

}

.main-nav-item {
  width: 48%;
  flex-basis: 48%;
}

.title {
  text-transform: uppercase;
}

.jumbotron {
  padding: 2rem 4rem !important;
  margin-bottom: 0 !important;
}
