.header {
  width: 100%;
  height: 60px;
  background-color: lightgrey;
  margin-bottom: 20px;
}

.main {
  width: 100%;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.nav-link {
  line-height: 60px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(184, 69, 69);
  margin-right: 30px;
  padding: 8px 16px;
  border: 1px solid rgb(199, 169, 169);
  background-color: rgb(199, 169, 169);
  border-radius: 4px;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}

.active {
  background-color: rgb(216, 91, 91);
  color: #000;
}
