.navigation {
  display: flex;

  background-color: rgb(42, 42, 42);

  &__link {
    display: block;
    padding: 20px;

    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: aqua;
    }
  }

  & .active {
    color: rgb(0, 189, 189);
  }
}
