.nav {
  padding-top: 30px;

  &__list {
    display: flex;
    gap: 20px;
    width: min-content;
    margin: 0 auto 40px;
    padding: 0;

    font-size: 20px;

    list-style: none;
  }

  &__item {
    width: 150px;
    padding: 10px 30px;

    color: #fff;
    text-align: center;
    text-decoration: none;

    border: 3px solid transparent;
    border-radius: 10px;
    background-color: #000;
    transition: background-color 0.15s linear;

    &:hover {
      background-color: rgb(34, 34, 34);
    }

    &--active {
      border-color: rgb(173, 173, 173);

      cursor: default;

      &:hover {
        background-color: #000;
      }
    }
  }
}
