.Navigation {

  &__navbar {
    display: flex;
    height: 60px;
    justify-content: center;

    background-color: rgba(220, 20, 60, 0.6);
  }

  &__container {
    box-sizing: border-box;
    padding: 20px 50px;
  }

  &__item {
    font-weight: bold;
    text-decoration: none;
    color: blue;

    &--active {
      font-weight: bold;
      border-bottom: 2px solid blue;
      color: red;
    }
  }
}
