.Navigation {
  padding: 15px 0;
  background-color: #ababab;
  text-align: center;
  &__link {
    margin: 0 10px;
    padding: 7px 0;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color 350ms;
    &.active {
      border-bottom-color: #fff;
    }
  }
}