.tabs {
  &__list {
    list-style: none;
    display: flex;
    width: 500px;

    &--item {
      width: 70px;
      height: 30px;
      border: 1px solid rgb(250, 250, 252);
      transition-duration: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: rgb(164, 198, 221);
      }

      &:focus {
        outline: none;
        background-color: rgb(164, 198, 221);
      }
    }
  }
}

/*.button {
  width: 70px;
}*/

.tabs > p {
  font-size: 20px;
}
