.tab {
  &__button {
    position: relative;
    z-index: 1;
    height: 40px;
    border-radius: 5px 5px 0 0;
    margin: 0 3px;
    padding: 10px 20px 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    color: dodgerblue;
    font-weight: 700;
    cursor: pointer;
    outline: none;

    &--active {
      color: gray;
      border: 1px solid gray;
      border-bottom: 2px solid #fff;
      z-index: 3;
    }
  }

  &__text {
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 39px;
    border-top: 1px solid grey;
    margin: 0;
    padding: 20px;
  }
}
