@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
}

.nav-list__link {
  display: inline-block;
  padding: 20px;
  color: cadetblue;
  transition: 0.3s all;
}

.nav-list__link:hover {
  background-color: bisque;
}

.nav-list__link--active {
  color: coral;
}

.Header {
  background-color: beige;
}

.tabs {
  margin-top: 30px;
}

.tabs__home {
  padding: 10px;
  font-size: larger;
}

.tabs__list {
  border-bottom: 1px solid #ecf0f1;
}

.tabs__link {
  padding: 10px;
  color: cadetblue;
  transition: 0.3s all;
  display: inline-block;
}

.tabs__link:hover {
  background-color: bisque;
}

.tabs__link--active {
  color: coral;
}

.tabs__content {
  padding: 10px;
}
