html {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.App {
  &__title {
    margin: 15px 0;
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 20px auto 0;
  border: 1px solid rgba(0, 0, 0, 0.27);
}

button {
  border: none;
}
