// not empty
body {
  font-family: sans-serif;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  font-weight: 600;
}

.active {
  text-decoration: none;
  font-size: 20px;
  color: #2b67e9;
  position: relative;
  margin-left: 20px;
  font-weight: 600;

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    color: #2b67e9;

    top: 30px;
    border-top: 2px solid #2b67e9;
    left: 0;
    right: 0;

  }
}
