* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.app {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  &__title {
    margin-bottom: 20px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  &__link {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
