* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Lacquer', sans-serif;
  color: orange;
}

body{
  background: lightgray;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 0 0 5px 5px #670798;
  background: purple;
  border-radius: 0 0 30px 30px;
}

.hlink {
  margin-right: 10px;
}

.hlink,
.tlink,
footer {
  font-weight: 800;
  font-size: 30px;
}

.active,
h3,
footer {
  text-shadow: 0 4px 3px #000;
}

.list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 300px;
  justify-content: space-around;
}
.content-text {
  padding: 50px;
  border-radius: 30px;
  background-color: purple;
}
.home-page-content,
.tabs-page-content {
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
}

.home-page-content > h3 {
  margin-bottom: 79px;
}

.footer-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 0 0 5px 5px #670798;
  background: purple;
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
