.App {
  padding: 50px 100px;
  position: relative;
}

.tabs__head {
  display: flex;
  padding-left: 30px;
}

.tabs__single-tab {
  width: 100px;
  font-size: 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.tabs__single-tab:hover {
  border: 1px solid rgba(162, 162, 162, 0.5);
  border-radius: 5px 5px 0 0;
}

.tabs__single-tab--active::after {
  width: 100%;
  left: 0;
  height: 5px;
  bottom: -2px;
  background-color: white;
  content: " ";
  position: absolute;
}

.tabs__single-tab--active {
  border: 1px solid #a3a3a3;
  border-radius: 5px 5px 0 0;
}

.tabs__single-tab--active:hover {
  border: 1px solid #a3a3a3;
}

.tabs__body {
  border-top: 1px solid #a3a3a3;
  position: relative;
  top: -1px;
  z-index: -1;
}

.main-link-container {
  display: flex;
  margin-bottom: 30px;
}

.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 15px;
  color: black;
  text-decoration: none;
  background: white;
  box-sizing: border-box;
}

.main-link:hover {
  border: 1px solid rgba(162, 162, 162, 0.5);
}

.main-link__active {
  background: rgba(162, 162, 162, 0.5);
  color: white;
  border-color: white;
}
