@import url(
  "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap"
);

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 30px;
}

.App {
  &__navigation {
    padding: 30px;
    border-bottom: 1px solid #dadada;
  }

  &__navigation-link {
    position: relative;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: #919191;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: rgb(255, 52, 52);
      transition: width, height, 300ms ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.active {
  color: rgb(255, 52, 52);

  &::after {
    width: 100%;
    height: 3px;
  }
}

.not-found {
  text-align: center;
  padding: 50px 0 0;
}
