.active {
  position: relative;
  border-width: 1px;
  border-bottom: 1px solid #fff;
  z-index: 1;
  color: #39393a;
}

.tabs__page {
  text-decoration: none;
}

.tabs__home {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  margin: 0 4px;
  border: 0 solid #000;
  text-align: center;
  box-sizing: border-box;
  color: #5e80b0;
  border-radius: 5px 5px 0 0;
}

.App {
  display: flex;
  justify-content: center;
}

.home_page {
  position: fixed;
  top: 60px;
}

.container {
  position: fixed;
  top: 50px;
}

.App {
  border-bottom: 1px solid black;
}
