html,
body {
  margin: 0;
}

h1 {
  text-align: center;
}

.Nav {
  width: 100%;
  height: 60px;
  background-color: #0a6ea8e1;
  color: white;
  margin: 0 auto;
  position: sticky;

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    color: white;
  }

  &__item {
    color: white;
    text-decoration: none;
    padding: 0;
    margin-top: 15px;
    margin-right: 20px;
    
    &:hover {
      cursor: pointer;
      color: rgb(255, 115, 0);
    }
  }
}
