* {
  box-sizing: border-box;
  font-family: sans-serif;
}

 h1 {
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(114, 113, 113, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.active {
  color: brown;
}
