@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  margin: 20px;
}

a {
  text-decoration: none;
  /* color: cadetblue; */
  font-size: 20px;
}

.active {
  color: coral;
}

button {
  cursor: pointer;
}

.header {
  background-color: beige;
}
