li {
  list-style: none;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #aaa;
  text-transform: uppercase;
}

h2 {
  color: #598a07;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  align-self: center;
}

.nav {
  position: absolute;
  height: 100px;
  top: 50px;
  left: 50px;
}

.tabs-field {
  box-shadow: 0 0 15px #939393;
  border-radius: 5px 5px 10px 10px;
}

.tab {
  width: 400px;
  height: 300px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  padding: 20px 15px;
  font-size: 16px;
}

.link {
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #aaa;
  margin-bottom: -1px;
  margin-left: 0;
  border-bottom: none;
}

.link:hover {
  cursor: pointer;
}

.link.active {
  position: relative;
  color: #598a07;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  border-radius: 5px 0 0;
}

.navlink {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #aaa;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  overflow: hidden;
}

.navlink::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: rgba(89, 138, 7, 0.5);
  transition: all 0.5s ease;
}

.navlink:hover {
  color: #fff;
}

.navlink:hover::before {
  animation: animate 0.5s linear forwards;
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
