.nav {
  &__list {
    display: flex;

    padding: 0;
    margin-top: 5vh;

    list-style: none;

  }
  &__item {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    &--tabs {
      width: 100px;
      text-align: center;
    }
  }
  &__link {
    display: block;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      text-decoration: none;
      background-color: #ccc;
    }
  }
}

.active-main {
  background-color: #ccc;
}

.active {
  background-color: red;
}
