* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #efefef;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.task-wrap {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
  max-width: 1000px;
}

h1 {
  margin: 30px 0;
  text-align: center;
}

.page__nav {
  align-self: flex-start;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 20px;
  background-color: #fff;
}

.page__link {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  color: #66a;
}

.page__link.active {
  font-weight: 700;
}

.page__link.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #66a;
}

.page__content {
  padding: 20px;
  background-color: #fff;
}

.page__content h2 {
  padding-bottom: 25px;
}

.tabs__nav {
  display: flex;
  font-size: 18px;
}

.tabs__link {
  position: relative;
  display: block;
  margin-right: 15px;
  padding: 8px;
  color: #66a;
}

.tabs__link.active {
  font-weight: 700;
}

.tabs__link.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #66a;
}

.tabs__content {
  padding-top: 30px;
}

@media screen and (min-width: 480px) {
  .page {
    display: flex;
  }
  .page__nav {
    flex-shrink: 0;
    margin-right: 20px;
    padding: 25px 0;
  }
  .page__link {
    display: block;
    margin: 0;
    padding: 5px 40px 5px 20px;
    min-width: 120px;
  }
  .page__link:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .page__link.active::after {
    width: 4px;
    height: 100%;
  }
  .page__content {
    flex-grow: 1;
    padding: 25px 30px;
  }
}
