.App {
  font-family: 'Roboto', sans-serif;
  color: #2a2929;
}


.navigation {
  display: flex;
  list-style: none;

  &__link {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-align: center;
  }

  .active {
    background-color: #3da95f;
  }
}

.tabs {
  padding: 0;
  display: inline-flex;

  position: relative;
  left: calc(50% - 250px);

  width: 500px;
  height: 300px;

  border: 1px solid #000;
  border-radius: 10px;
  list-style: none;
}

.tab {
  flex-grow: 1;

  &__title {
    display: inline-block;
    margin: 0;
    width: 99%;
    height: 30px;

    background-color: #56ee86;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #2a2929;
    text-align: center;
    line-height: 30px;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__title:hover,
  .selected {
    background-color: #3da95f;
  }

  &__content {
    position: absolute;
    top: 30px;
    left: 5px;
  }
}
