body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 60px;
  background-color: rgb(145, 145, 145);
  display: flex;
  justify-content: center;
  align-items: center;

  &__nav-item {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: rgb(189, 190, 190);
    border-radius: 5px;
    transition: 0.3s ease;

    &:hover {
      background-color: rgb(175, 175, 175);
    }
  }
}

h1 {
  text-align: center;
}
