// no css

.button {
  position: relative;
  top: 1px;
  outline: none;
  border-radius: 0;
  border: 1px solid grey;

}

.button_active {
  background-color: lightgrey;
  border-bottom: 1px solid lightgrey;
}

.content {
  border-top: 1px solid grey;
  background-color: lightgrey;
}
