* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;
  list-style-type: none;
  background-color: #f6fafd;
}

li {
  padding: 30px;
}

.nav-item {
  text-decoration: none;
  color: #05056a74;
}

.nav-item:hover {
  text-decoration: underline overline;
}

.active {
  color: #021756;
  text-decoration: underline overline #f6fafd;
  transition: 1s;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #121267a7;
}

.tabs-container {
  min-width: 350px;
  color: black;
  transition: all 0.8s;
}

.tab-item {
  display: inline-block;
  font-size: 20px;
  padding: 10px 30px;
}

.tab-item > a {
  color: darkgray;
  list-style-type: none;
  text-decoration: none;
}

.tab-item--selected {
  color: darkblue;
  border: solid black;
  border-width: 1px 1px 0;
  border-bottom: 2px solid #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-item--selected > a {
  color: darkblue;
}

.tab-content {
  text-align: center;
  font-size: 16px;
  border-top: 1px solid black;
  margin: -17px auto;
  padding: 10px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #f6fafd;
}

.footer-item > a {
  color: rgb(81, 81, 81);
  text-decoration: none;
}

.footer-item > a:hover {
  color: #5078f387;
  text-decoration: underline;
}
