.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__item {
  display: inline-block;
  padding: 24px;
  cursor: pointer;
}

.tabs__content {
  padding: 12px;
  border: 1px solid #42485b;
  border-radius: 0 5px 5px;
  margin-top: -1px;
}

.tabs__item--active {
  border: solid #42485b;
  border-radius: 5% 5% 0 0;
  border-width: 1px 1px 0;
  background: antiquewhite;
}
