$active-color: rgb(238, 255, 255);
$text-active-color:rgb(29, 44, 101);
$inactive-color: rgb(250, 237, 237);
$text-inactive-color: rgb(81, 38, 38);
$border-color: rgb(173, 199, 211);

* {
  box-sizing: border-box;
}
