.Tab {
  &__title {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
  }

  .button {
    font-size: 18px;
    margin-right: 30px;
    text-decoration: none;
    background-color: rgb(246, 169, 169);
    color: black;
    padding: 8px 15px;
    border-radius: 8px;

    &:hover {
      background-color: rgb(186, 59, 59);
      color: white;
    }
  }

  &__content {
    text-align: center;
    margin-top: 20px;
  }
}
