ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  list-style: none;
}

li {
  padding: 8px;
  background-color: #999;
  border: 2px solid #555;
  border-radius: 8px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #eee;
  border-color: #eee;
}

.is-active {
  font-weight: bold;
}

p {
  margin: 16px auto 0;
  max-width: 240px;
  background-color: #eee;
  border: 2px solid #555;
  border-radius: 8px;
}