.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
}

.nav-link--active,
.nav-link:hover {
  background-color: lightskyblue;
}
